.btn-success {
    color:#fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success:focus,
.btn-success.foucus{
    color: #fff;
    background-color: #449d44;
    border-color: #255625;
}
.btn-success:hover{
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}